In [108]:
# Librerías para manipulación y análisis de datos

import pandas as pd
import datetime
from datetime import datetime
import os
from dateutil.relativedelta import relativedelta    
from datetime import timedelta


import glob
import getpass

In [109]:
# Obtiene el nombre de usuario del sistema operativo actual
nombre_usuario = getpass.getuser()

In [110]:
# Obtiene la fecha actual
hoy = datetime.today()

# Obtiene el año actual
año = hoy.year

# Obtiene el año actual con dos dígitos
año_2 = año % 100

# Obtiene el número de mes actual
numero_mes = hoy.month

# Obtiene la fecha actual en formato YYYY-MM
fecha_n = hoy.strftime('%Y-%m')

# Obtiene la fecha actual en formato MM.YYYY
numero_mes_punto = hoy.strftime('%m.%Y')

# Obtiene la fecha de hace un mes
n_date = hoy - relativedelta(months=1)

# Obtiene la fecha de hace dos meses
n_1_date = hoy - relativedelta(months=2)

# Obtiene la fecha de hace cinco meses
n_4_date = hoy - relativedelta(months=5)

# Obtiene la fecha de hace dos meses en formato YYYY-MM
n_1 = n_1_date.strftime("%Y-%m")

# Obtiene la fecha de hace cinco meses en formato YYYY-MM
n_4 = n_4_date.strftime("%Y-%m")

# Obtiene la fecha de hace dos meses en formato MM.YYYY
n1_punto = n_1_date.strftime("%m.%Y")

# Obtiene la fecha de hace cinco meses en formato MM.YYYY
n4_punto = n_4_date.strftime("%m.%Y")

# Imprime las variables
print("n_1:", n_1)
print("n_4:", n_4)
print(n1_punto)
print(n4_punto)

n_1: 2024-06
n_4: 2024-03
06.2024
03.2024

In [111]:
# Crea una cadena con la fecha del primer día del mes anterior
n_b_fc = n_date.strftime('%Y-%m' + '-01')

In [112]:
#Funcion que entrega el nombre correspondiente al numero del mes
#input: numero de mes
#output: nombre de dicho mes
def obtener_nombre_mes(numero_mes):
    meses = {
        1: "Enero",
        2: "Febrero",
        3: "Marzo",
        4: "Abril",
        5: "Mayo",
        6: "Junio",
        7: "Julio",
        8: "Agosto",
        9: "Septiembre",
        10: "Octubre",
        11: "Noviembre",
        12: "Diciembre"
    }
    return meses.get(numero_mes, "Mes no válido")

# se crean variables de meses relativos a los peridos de medicion n-1 y n-4
mes_n1 = (hoy - relativedelta(months=2)).month
mes_n4 = (hoy - relativedelta(months=5)).month
ciclo_n1 = (hoy - relativedelta(months=1)).month
ciclo_n4 = (hoy - relativedelta(months=4)).month


#se obtienen nombres de dichos meses
nombre_mes_n1 = obtener_nombre_mes(mes_n1)
nombre_mes_n4 = obtener_nombre_mes(mes_n4)
nombre_ciclo_n1 = obtener_nombre_mes(ciclo_n1)
nombre_ciclo_n4 = obtener_nombre_mes(ciclo_n4)
nombre_numero_mes = obtener_nombre_mes(numero_mes)


# Imprimir el nombre del mes anterior
print(nombre_mes_n1)
print(nombre_mes_n4)

Junio
Marzo

In [113]:
#Se especifican las rutas de los archivos de forecast para los ciclos n-1 y n-4
ruta_n1 = f'C:/Users/{nombre_usuario}/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras OEM/Demanda/Forecast Inbound/{n_1[:4]}/{n_1} {nombre_mes_n1}/{n1_punto} S&OP Demanda Sin Restricciones OEM_Mainstream Inbound.xlsx'
ruta_n4 = f'C:/Users/{nombre_usuario}/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras OEM/Demanda/Forecast Inbound/{n_4[:4]}/{n_4} {nombre_mes_n4}/{n4_punto} S&OP Demanda Sin Restricciones OEM_Mainstream Inbound.xlsx'

#se leen los archivos con pandas

df_n1 = pd.read_excel(ruta_n1, sheet_name= 'Base Forecast',header=2)
df_n4 = pd.read_excel(ruta_n4, sheet_name='Base Forecast', header=2)

In [114]:
df_n4['Input'].value_counts()

Input
Modelo representativo    807
VOR                      172
Service pack              56
Plan Comercial            28
Plan comercial            28
Service Pack              27
Asistencia tecnica         7
Incorporacion              4
VOR                        1
Name: count, dtype: int64

In [115]:
#localizacion de el archivo de codigo actual para las cadenas de reemplazo
maestro = f"C:/Users/{nombre_usuario}/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras Maestros/{hoy.year}/{hoy.year}-{str(hoy.month).zfill(2)}"
dir_maestro = os.listdir(maestro)

for a in dir_maestro:

#     if str(hoy.year) in c_año:
#         c_carpeta = os.path.join(maestro, c_año)
#         c_mes = os.listdir(c_carpeta)
#         c_arch = os.path.join(c_carpeta, c_mes[-1])
#         archivos = os.listdir(c_arch)
#         print(archivos)

    if 'COD_ACTUAL_R3' in a:
        ruta_cad = os.path.join(maestro, a)
        cadena_de_remplazo = pd.read_excel(ruta_cad, usecols= ['Nro_pieza_fabricante_1',	'Cod_Actual_1'] )

In [116]:
#se genera ruta del archivo de ventas y se lee dicha ruta con pandas
ruta_ventas = f"C:/Users/{nombre_usuario}/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras OEM/Demanda/S&OP/{fecha_n[:4]}/{fecha_n}/OEM Mainstream/{numero_mes_punto} BaseVentaOEM Sell In PBI.xlsx"
df_ventas= pd.read_excel(ruta_ventas, sheet_name='Base Venta Sell In OEM', header=2)

#se lee una version auxiliar del archivo de ventas para obtener la 

df_ventas_p= pd.read_excel(ruta_ventas, sheet_name='TD BV', header=3)
df_ventas_p = df_ventas_p[['Último Eslabón', 'Prom.']]

In [117]:
ruta_ventas

'C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras OEM/Demanda/S&OP/2024/2024-08/OEM Mainstream/08.2024 BaseVentaOEM Sell In PBI.xlsx'

In [118]:
df_n1['Último Eslabón y Material SAP'] = df_n1['Último Eslabón y Material SAP'].astype('str')
df_n1 = pd.merge(df_n1,cadena_de_remplazo, left_on='Último Eslabón y Material SAP', right_on='Nro_pieza_fabricante_1', how='left')

# # #df_n1 = df_n1.drop(['Cod_Actual_1','Nro_pieza_fabricante_1','Cod_Actual_1_UE2','Nro_pieza_fabricante_1_UE2','Cod_Actual_1_Cod_Actual_1', 'Nro_pieza_fabricante_1_Cod_Actual_1'], axis=1)
# # #df_n4['Ult. Eslabón'] = df_n4['Ult. Eslabón'].astype('str')
#df_n4 = pd.merge(df_n4,cadena_de_remplazo, left_on='Material R3', right_on='Nro_pieza_fabricante_1', how='left')

In [119]:
df_n4['Material R3'] = df_n4['Material R3'].astype('str')
df_n4 = pd.merge(df_n4,cadena_de_remplazo, left_on='Material R3', right_on='Nro_pieza_fabricante_1', how='left')

In [120]:
df_n1['Cod_Actual_1'] = df_n1['Cod_Actual_1'].fillna(df_n1['Último Eslabón y Material SAP'])

df_n4['Cod_Actual_1'] = df_n4['Cod_Actual_1'].fillna(df_n4['Material R3'])

In [121]:
df_n1 = df_n1.drop('Nro_pieza_fabricante_1', axis=1)

df_n4 = df_n4.drop('Nro_pieza_fabricante_1', axis=1)

In [122]:
df_n1 = df_n1.rename(columns = {'Cod_Actual_1': 'UE_2'})
df_n4 = df_n4.rename(columns = {'Cod_Actual_1': 'UE_2'})

In [123]:
df_n4['Canal']

0        CL CES 01
1        CL CES 01
2        CL CES 01
3        CL CES 01
4        CL CES 01
           ...
83102    CL CES 01
83103    CL CES 01
83104    CL CES 01
83105    CL CES 01
83106    CL CES 01
Name: Canal, Length: 83107, dtype: object

In [124]:
fecha_fc_n1 = datetime.strptime(n_1, '%Y-%m')
n_1_date = fecha_fc_n1 + relativedelta(months=1)
fecha_fc_n4 = datetime.strptime(n_4, '%Y-%m')
n_4_date = fecha_fc_n4 + relativedelta(months=4)

busqueda_fc_n1_anas =  f'{n_b_fc} 00:00:00.2'
busqueda_fc_n4_anas =  f'{n_b_fc} 00:00:00.1'





desired_column_index = 88  # El índice 57 corresponde a la columna número 58
desired_column_index_2 = 76  # El índice 57 corresponde a la columna número 58

# Accede a la columna por su índice
desired_column = df_n1.iloc[:, desired_column_index]
desired_column_n4 = df_n4.iloc[:, desired_column_index_2]


df_n1['fc_anas'] = desired_column
df_n4['fc_anas'] = desired_column_n4
df_n4['fc_anas'].sum()

96298.71104501895

In [125]:
df_n1['fc_anas'].sum()

116968.93287172764

In [126]:
busqueda_fc_n1 = f'{n_b_fc} 00:00:00.2'
busqueda_fc_n4 = f'{n_b_fc} 00:00:00.2' 




#COMPROBACION DE FECHAS
# df_n1[busqueda_fc_n1].sum()
df_n1['fc'] = df_n1[busqueda_fc_n1]
df_n4['fc'] = df_n4[busqueda_fc_n4]
df_n1['fc'].sum()

125121.92618920974

In [127]:
df_n4['fc'].sum()

107427.88141769599

In [128]:
df_n4['fc_anas'].sum()

96298.71104501895

In [129]:
df_n1['ID2'] = df_n1['UE_2'] + df_n1['Canal']
df_n4['ID2'] = df_n4['UE_2'] + df_n4['Canal']

In [130]:
df_n1.head()

,Pos,CNT,ID,Material R3,Último Eslabón,Último Eslabón y Material SAP,Descripción Material,Familia,Categoria,Sector MARA,...,2025-01-01 00:00:00.7,2025-02-01 00:00:00.7,2025-03-01 00:00:00.7,2025-04-01 00:00:00.7,2025-05-01 00:00:00.7,Input Inbound,UE_2,fc_anas,fc,ID2
0,1,1,0000000190-OP1CL CES 01,0000000190-OP1,0000000190-OP1,0000000190-OP1,MICHELIN PRIMACY 3 205/55 R17 97V,DESGASTE,NEUMATICOS,3,...,0.0,0.0,0.0,0.0,0.0,0,0000000190-OP1,0.000000,0.0,0000000190-OP1CL CES 01
1,2,1,0000000229CPZCL CES 01,0000000229CPZ,0000000229CPZ,0000000229CPZ,CONTINENTAL CONTACT 5 205/55R17 95V,DESGASTE,NEUMATICOS,3,...,0.0,0.0,0.0,0.0,0.0,-1,0000000229CPZ,0.081019,0.0,0000000229CPZCL CES 01
2,3,1,0000000244CL CES 01,0000000244,0000000244,0000000244,NEUMATICO MAXXIS 255/60R18 108H,DESGASTE,NEUMATICOS,3,...,0.0,0.0,0.0,0.0,0.0,0,0000000244,0.000000,0.0,0000000244CL CES 01
3,4,1,0000101800CL CES 01,0000101800,0000101800,0000101800,LLAVE TAPON,ACCESORIOS Y HERRAMIENTAS,HERRAMIENTAS MANUALES,3,...,0.0,0.0,0.0,0.0,0.0,0,0000101800,0.000000,0.0,0000101800CL CES 01
4,5,1,0000105400CL CES 01,0000105400,0000105400,0000105400,(SALE) CALIBRE PMS,ACCESORIOS Y HERRAMIENTAS,HERRAMIENTAS MANUALES,3,...,0.0,0.0,0.0,0.0,0.0,0,0000105400,0.000000,0.0,0000105400CL CES 01

In [131]:
df_n1['fc'].sum()

125121.92618920974

In [132]:
df_n1['Periodo'] = 'N-1'
df_n4['Periodo'] = 'N-4'

In [133]:
df_n1.head()

,Pos,CNT,ID,Material R3,Último Eslabón,Último Eslabón y Material SAP,Descripción Material,Familia,Categoria,Sector MARA,...,2025-02-01 00:00:00.7,2025-03-01 00:00:00.7,2025-04-01 00:00:00.7,2025-05-01 00:00:00.7,Input Inbound,UE_2,fc_anas,fc,ID2,Periodo
0,1,1,0000000190-OP1CL CES 01,0000000190-OP1,0000000190-OP1,0000000190-OP1,MICHELIN PRIMACY 3 205/55 R17 97V,DESGASTE,NEUMATICOS,3,...,0.0,0.0,0.0,0.0,0,0000000190-OP1,0.000000,0.0,0000000190-OP1CL CES 01,N-1
1,2,1,0000000229CPZCL CES 01,0000000229CPZ,0000000229CPZ,0000000229CPZ,CONTINENTAL CONTACT 5 205/55R17 95V,DESGASTE,NEUMATICOS,3,...,0.0,0.0,0.0,0.0,-1,0000000229CPZ,0.081019,0.0,0000000229CPZCL CES 01,N-1
2,3,1,0000000244CL CES 01,0000000244,0000000244,0000000244,NEUMATICO MAXXIS 255/60R18 108H,DESGASTE,NEUMATICOS,3,...,0.0,0.0,0.0,0.0,0,0000000244,0.000000,0.0,0000000244CL CES 01,N-1
3,4,1,0000101800CL CES 01,0000101800,0000101800,0000101800,LLAVE TAPON,ACCESORIOS Y HERRAMIENTAS,HERRAMIENTAS MANUALES,3,...,0.0,0.0,0.0,0.0,0,0000101800,0.000000,0.0,0000101800CL CES 01,N-1
4,5,1,0000105400CL CES 01,0000105400,0000105400,0000105400,(SALE) CALIBRE PMS,ACCESORIOS Y HERRAMIENTAS,HERRAMIENTAS MANUALES,3,...,0.0,0.0,0.0,0.0,0,0000105400,0.000000,0.0,0000105400CL CES 01,N-1

In [134]:
df_consolidado = pd.concat([df_n1,df_n4], ignore_index=True)

In [135]:
df_consolidado

,Pos,CNT,ID,Material R3,Último Eslabón,Último Eslabón y Material SAP,Descripción Material,Familia,Categoria,Sector MARA,...,2022-12-01 00:00:00.6,2023-01-01 00:00:00.6,2023-02-01 00:00:00.6,2022-12-01 00:00:00.7,2023-01-01 00:00:00.7,2023-02-01 00:00:00.7,2024-06-01 00:00:00.5,2024-06-01 00:00:00.6,2024-06-01 00:00:00.7,Formato Input
0,1,1.0,0000000190-OP1CL CES 01,0000000190-OP1,0000000190-OP1,0000000190-OP1,MICHELIN PRIMACY 3 205/55 R17 97V,DESGASTE,NEUMATICOS,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1.0,0000000229CPZCL CES 01,0000000229CPZ,0000000229CPZ,0000000229CPZ,CONTINENTAL CONTACT 5 205/55R17 95V,DESGASTE,NEUMATICOS,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1.0,0000000244CL CES 01,0000000244,0000000244,0000000244,NEUMATICO MAXXIS 255/60R18 108H,DESGASTE,NEUMATICOS,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1.0,0000101800CL CES 01,0000101800,0000101800,0000101800,LLAVE TAPON,ACCESORIOS Y HERRAMIENTAS,HERRAMIENTAS MANUALES,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1.0,0000105400CL CES 01,0000105400,0000105400,0000105400,(SALE) CALIBRE PMS,ACCESORIOS Y HERRAMIENTAS,HERRAMIENTAS MANUALES,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219701,83103,NaN,Z50140581ACL CES 01,Z50140581A,Z50140581A,NaN,ANILLO SELLO ESCAPE,REPARACION,BLOCK,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
219702,83104,NaN,Z6172050XACL CES 01,Z6172050XA,Z6172050XA,NaN,TRANSPORTADOR,REPARACION,SISTEMA DE ESCAPE,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
219703,83105,NaN,Z68202300ECL CES 01,Z68202300E,Z68202300E,NaN,MOTOR,REPARACION,MOTORES,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
219704,83106,NaN,ZJ0110243CL CES 01,ZJ0110243,ZJ0110243,NaN,GOLILLA SELLO,CARROCERIA,CARROCERIA EXTERIOR,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
219705,83107,NaN,ZY0112121CL CES 01,ZY0112121,ZY0112121,NaN,VLVULA ESCAPE,REPARACION,CULATA,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [136]:
cols = ['ID2', 'UE_2', 'fc_anas','fc', 'Periodo','Costo Promedio Ponderado', 'Input']

In [137]:
df_consolidado['ID2']

0         0000000190-OP1CL CES 01
1          0000000229CPZCL CES 01
2             0000000244CL CES 01
3             0000101800CL CES 01
4             0000105400CL CES 01
                   ...
219701        Z50140581ACL CES 01
219702        Z6172050XCCL CES 01
219703        Z68202300ECL CES 01
219704         ZJ0110243CL CES 01
219705         ZY0112121CL CES 01
Name: ID2, Length: 219706, dtype: object

In [138]:
df_consolidado_red = df_consolidado[cols]

In [139]:
df_consolidado_red['fc_anas'].sum()

213267.64391674657

In [140]:
df_consolidado_red = df_consolidado_red.sort_values(by='Input', ascending=True)

In [141]:
df_consolidado_red.shape

(219706, 7)

In [142]:
df_consolidado_red = df_consolidado_red.groupby(['ID2', 'Periodo']).agg({'UE_2':'first', 'fc': 'sum', 'fc_anas':'sum', 'Costo Promedio Ponderado': 'sum', 'Input':'first'}).reset_index()

In [143]:
indice_deseado = 24 # El índice 57 corresponde a la columna número 58


# Accede a la columna por su índice
col_deseada = df_ventas.iloc[:, indice_deseado]

In [144]:
df_ventas['Venta'] = col_deseada
df_ventas['Ventas UMB'] = df_ventas['Prom. VtaR']
red_columnas = ['ID V2','Último Eslabón', 'Venta', 'Ventas UMB']
df_ventas = df_ventas[red_columnas]

In [145]:
df_ventas['Venta'].sum()

120191

In [146]:
#df_venta_prom = df_ventas[['Último Eslabón', 'Ventas UMB']].groupby('Último Eslabón')['Ventas UMB'].sum().reset_index()

In [147]:
#df_venta_prom['Venta'].sum()

In [148]:
df_ventas = df_ventas.groupby(['ID V2']).agg({'Venta': sum}).reset_index()

C:\Users\lravlic\AppData\Local\Temp\ipykernel_4468\2531405874.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_ventas = df_ventas.groupby(['ID V2']).agg({'Venta': sum}).reset_index()

In [149]:
df_ventas['Venta'].sum()

120191

In [150]:
df_ventas_p

        Último Eslabón  Prom.
0       0000000190-OP1    0.0
1           0000000244    0.0
2           0000101800    0.0
3           0000105400    0.0
4           0000132900    0.0
...                ...    ...
126736      2700006420    0.0
126737      2700006423    0.0
126738      2700006425    0.0
126739      2700006426    0.0
126740   Total general    NaN

[126741 rows x 2 columns]

In [151]:
df_ventas_p.columns

Index(['Último Eslabón', 'Prom.'], dtype='object')

In [152]:
df_ventas

                          ID V2  Venta
0       0000000190-OP1CL CES 01      0
1           0000000229CL CES 01      0
2        0000000229CPZCL CES 01      0
3           0000000244CL CES 01      0
4           0000101800CL CES 01      0
...                         ...    ...
126735      ZZJ111399ACL CES 01      0
126736      ZZJ113111ACL CES 01      0
126737      ZZJ113250ACL CES 01      0
126738       ZZJ118110CL CES 01     12
126739       ZZJ318840CL CES 01      0

[126740 rows x 2 columns]

In [153]:
consolidado_cruce_ventas = pd.merge(df_consolidado_red, df_ventas, left_on='ID2', right_on='ID V2', how='left')
consolidado_cruce_ventas = consolidado_cruce_ventas.merge(df_ventas_p, left_on='UE_2', right_on='Último Eslabón', how='left')

In [154]:
consolidado_cruce_ventas['Venta'].sum()

211751.0

In [155]:
consolidado_cruce_ventas = consolidado_cruce_ventas.drop(['Último Eslabón'], axis=1)
consolidado_cruce_ventas = consolidado_cruce_ventas.drop(['ID V2'], axis=1)

In [156]:
consolidado_cruce_ventas

,ID2,Periodo,UE_2,fc,fc_anas,Costo Promedio Ponderado,Input,Venta,Prom.
0,0000000190-OP1CL CES 01,N-1,0000000190-OP1,0.00000,0.000000,101681.0,None,0.0,0.000000
1,0000000190-OP1CL CES 01,N-4,0000000190-OP1,0.00000,0.000000,101681.0,None,0.0,0.000000
2,0000000229CPZCL CES 01,N-1,0000000229CPZ,0.00000,0.081019,123471.0,Alerta Obsolescencia,0.0,0.166667
3,0000000244CL CES 01,N-1,0000000244,0.00000,0.000000,89916.0,None,0.0,0.000000
4,0000000244CL CES 01,N-4,0000000244,0.00000,0.000000,89916.0,None,0.0,0.000000
...,...,...,...,...,...,...,...,...,...
219580,ZZJ118110CL CES 01,N-1,ZZJ118110,40.11290,40.112900,2347.0,None,12.0,22.666667
219581,ZZJ118110CL CES 01,N-4,ZZJ118110,33.97096,33.970960,2480.0,None,12.0,22.666667
219582,ZZJ318840CL CES 01,N-1,ZZJ318840,0.00000,0.000000,40932.0,None,0.0,0.000000
219583,ZZJ318840CL CES 01,N-4,ZZJ318840,0.00000,0.000000,40932.0,None,0.0,0.000000
219584,PD15CL CES 01,N-4,PD15,1149.00000,0.000000,18800.0,Incorporacion,NaN,NaN

In [157]:
columnas_eliminar = ['Último Eslabón_x','Ventas UMB_x','Último Eslabón_y']

In [158]:
consolidado_cruce_ventas

,ID2,Periodo,UE_2,fc,fc_anas,Costo Promedio Ponderado,Input,Venta,Prom.
0,0000000190-OP1CL CES 01,N-1,0000000190-OP1,0.00000,0.000000,101681.0,None,0.0,0.000000
1,0000000190-OP1CL CES 01,N-4,0000000190-OP1,0.00000,0.000000,101681.0,None,0.0,0.000000
2,0000000229CPZCL CES 01,N-1,0000000229CPZ,0.00000,0.081019,123471.0,Alerta Obsolescencia,0.0,0.166667
3,0000000244CL CES 01,N-1,0000000244,0.00000,0.000000,89916.0,None,0.0,0.000000
4,0000000244CL CES 01,N-4,0000000244,0.00000,0.000000,89916.0,None,0.0,0.000000
...,...,...,...,...,...,...,...,...,...
219580,ZZJ118110CL CES 01,N-1,ZZJ118110,40.11290,40.112900,2347.0,None,12.0,22.666667
219581,ZZJ118110CL CES 01,N-4,ZZJ118110,33.97096,33.970960,2480.0,None,12.0,22.666667
219582,ZZJ318840CL CES 01,N-1,ZZJ318840,0.00000,0.000000,40932.0,None,0.0,0.000000
219583,ZZJ318840CL CES 01,N-4,ZZJ318840,0.00000,0.000000,40932.0,None,0.0,0.000000
219584,PD15CL CES 01,N-4,PD15,1149.00000,0.000000,18800.0,Incorporacion,NaN,NaN

In [159]:
#consolidado_final_prom_ventas = pd.merge(consolidado_cruce_ventas, df_ventas, left_on='UE_2', right_on='Cod_Actual_1', how='left')

In [160]:
consolidado_cruce_ventas

,ID2,Periodo,UE_2,fc,fc_anas,Costo Promedio Ponderado,Input,Venta,Prom.
0,0000000190-OP1CL CES 01,N-1,0000000190-OP1,0.00000,0.000000,101681.0,None,0.0,0.000000
1,0000000190-OP1CL CES 01,N-4,0000000190-OP1,0.00000,0.000000,101681.0,None,0.0,0.000000
2,0000000229CPZCL CES 01,N-1,0000000229CPZ,0.00000,0.081019,123471.0,Alerta Obsolescencia,0.0,0.166667
3,0000000244CL CES 01,N-1,0000000244,0.00000,0.000000,89916.0,None,0.0,0.000000
4,0000000244CL CES 01,N-4,0000000244,0.00000,0.000000,89916.0,None,0.0,0.000000
...,...,...,...,...,...,...,...,...,...
219580,ZZJ118110CL CES 01,N-1,ZZJ118110,40.11290,40.112900,2347.0,None,12.0,22.666667
219581,ZZJ118110CL CES 01,N-4,ZZJ118110,33.97096,33.970960,2480.0,None,12.0,22.666667
219582,ZZJ318840CL CES 01,N-1,ZZJ318840,0.00000,0.000000,40932.0,None,0.0,0.000000
219583,ZZJ318840CL CES 01,N-4,ZZJ318840,0.00000,0.000000,40932.0,None,0.0,0.000000
219584,PD15CL CES 01,N-4,PD15,1149.00000,0.000000,18800.0,Incorporacion,NaN,NaN

In [161]:
#consolidado_cruce_ventas = consolidado_cruce_ventas.rename(columns={'Ventas UMB_y': 'Ventas UMB'})
#consolidado_cruce_ventas['Ventas UMB'] = consolidado_cruce_ventas['Ventas UMB']/4

In [162]:
fecha_n

'2024-08'

In [163]:
ciclo_n1

7

In [164]:
carpeta_tubo = f"c:/Users/{nombre_usuario}/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Tubo Semanal"
fecha_actual = datetime.today()

# Calcular la fecha del mes anterior
fecha_mes_anterior = fecha_actual - timedelta(days=fecha_actual.day)

# Formatear la fecha en "yyyy-mm"
fecha_formateada = fecha_mes_anterior.strftime('%Y-%m')
dtype_stock ={
    'Material SAP': str,
    'UE': str,
}


# Imprimir la fecha formateada
contador = 1  # Inicializa un contador para los nombres de los DataFrames


tubo = os.listdir(carpeta_tubo)
for i in tubo:

    if i[5:7] == fecha_formateada[5:8] and i[0:4] == fecha_formateada[0:4]:
        
        
        carpeta = os.listdir(os.path.join(carpeta_tubo, i))
        for a in carpeta:
            if 'tock' in a and not 'iendas' in a and not 'añol' in a and not 'entros' in a and 'R3' in a:
               
                arch = os.path.join(carpeta_tubo, i, a)
                print(arch)
            

                df = pd.read_excel(arch, sheet_name='Sheet1', usecols=['Ult. Eslabon', 'Libre utilización','Centro'], dtype = {'Centro' : 'str'})
                df_suma = df.groupby('Ult. Eslabon', as_index=False).agg({'Libre utilización': 'sum'})

                df_ue = pd.merge(df_suma, cadena_de_remplazo, left_on='Ult. Eslabon', right_on='Nro_pieza_fabricante_1', how='left', suffixes=('Cod_Actual_1', '_Cad_reemplazo'))
                df_ue.drop('Nro_pieza_fabricante_1', axis=1, inplace=True)
                df_ue['Cod_Actual_1'].fillna(df_ue['Ult. Eslabon'], inplace=True)
                df_ue.drop('Ult. Eslabon', axis=1, inplace=True)
                df_suma = df_ue.groupby(['Cod_Actual_1']).agg({'Libre utilización': 'sum'}).reset_index()
                df_suma = df_suma.rename(columns = {'Libre utilización': f'Stock SEM {datetime.strptime(a[:10], '%Y-%m-%d').isocalendar()[1]}', 'Cod_Actual_1':f'Cod_Actual{a[:10]}'})

                suffix = f'_{i}' if i == (len(tubo) - 2) else f'_{i}a'  # Añadir sufijo para la primera fusión
                consolidado_cruce_ventas = consolidado_cruce_ventas.merge(df_suma, left_on='UE_2', right_on=f'Cod_Actual{a[:10]}', how='left')
               
#

c:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Tubo Semanal\2024-07-01\2024-07-01 - Stock R3.xlsx
c:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Tubo Semanal\2024-07-08\2024-07-08 - Stock R3.xlsx
c:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Tubo Semanal\2024-07-15\2024-07-15 - Stock R3.xlsx
c:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Tubo Semanal\2024-07-22\2024-07-22 - Stock R3.xlsx
c:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Tubo Semanal\2024-07-29\2024-07-29 - Stock R3.xlsx

In [165]:
consolidado_cruce_ventas = consolidado_cruce_ventas.fillna(0)
columns_to_drop = consolidado_cruce_ventas.filter(like='Cod_Actual').columns
consolidado_cruce_ventas = consolidado_cruce_ventas.drop(columns=columns_to_drop)

In [166]:
semanas_habiles_por_mes = {
    '2023-10': 5,
    '2023-11': 4,
    '2023-12': 4,
    '2024-01': 5,
    '2024-02': 4,
    '2024-03': 4,
    '2024-04': 4,
    '2024-05': 5,
    '2024-06': 5,
    '2024-07': 4,
    '2024-08': 4,
    '2024-09': 4,
    '2024-10': 4,
    '2024-11': 4,
    '2024-12': 4,
    '2025-01': 4,
    '2025-02': 4,
    '2025-03': 4,
    '2025-04': 4,
    '2025-05': 4,
    '2025-06': 4,
    '2025-07': 5,
    '2025-08': 4,
    '2025-09': 4,
    '2025-10': 4,
    '2025-11': 4,
    '2025-12': 4
}

In [167]:
consolidado_cruce_ventas['Venta'] = consolidado_cruce_ventas['Venta'].apply(lambda x: x if x >= 0 else 0)


consolidado_cruce_ventas['Prom.'] = consolidado_cruce_ventas['Prom.'].apply(lambda x: x if x >= 0 else 0)
#consolidado_cruce_ventas['Prom.'] = consolidado_cruce_ventas['Prom.']/4
consolidado_cruce_ventas['Prom.'] = consolidado_cruce_ventas.apply(
    lambda row: row['Prom.'] / semanas_habiles_por_mes.get(fecha_formateada, 1),
    axis=1
)

In [168]:
for column in consolidado_cruce_ventas.columns:
    if 'Stock' in column:
        new_column_name = f'INSTOCK_{column[-2:]}'
        consolidado_cruce_ventas[new_column_name] = consolidado_cruce_ventas.apply(lambda row: 1 if row['Prom.'] < row[column] else 0, axis=1)

In [169]:
consolidado_cruce_ventas['Total instock'] = consolidado_cruce_ventas.filter(like='INSTOCK').sum(axis=1)

In [170]:
consolidado_cruce_ventas['MAPE_AJUSTADO'] = abs(consolidado_cruce_ventas['Venta'] - consolidado_cruce_ventas['fc'])
consolidado_cruce_ventas['ERP'] = consolidado_cruce_ventas.apply(lambda row: row['fc'] - row['Venta'] if row['fc'] > row['Venta'] else 0, axis=1)
consolidado_cruce_ventas['ERN'] = consolidado_cruce_ventas.apply(lambda row: row['Venta'] - row['fc'] if row['Venta'] > row['fc'] else 0, axis=1)
consolidado_cruce_ventas['MAPE_ANASTASIA'] = abs(consolidado_cruce_ventas['Venta'] - consolidado_cruce_ventas['fc_anas'])
consolidado_cruce_ventas['ERP_ANASTASIA'] = consolidado_cruce_ventas.apply(lambda row: row['fc_anas'] - row['Venta'] if row['fc_anas'] > row['Venta'] else 0, axis=1)
consolidado_cruce_ventas['ERN_ANASTASIA'] = consolidado_cruce_ventas.apply(lambda row: row['Venta'] - row['fc_anas'] if row['Venta'] > row['fc_anas'] else 0, axis=1)

In [171]:
consolidado_cruce_ventas['WMAPE'] = consolidado_cruce_ventas['MAPE_AJUSTADO'] / consolidado_cruce_ventas['Venta']
consolidado_cruce_ventas['WMAPE.1'] = consolidado_cruce_ventas['MAPE_ANASTASIA'] / consolidado_cruce_ventas['Venta']
consolidado_cruce_ventas['Mes'] = hoy.strftime('%Y-%m-%d')
consolidado_cruce_ventas['Costo de Venta'] = consolidado_cruce_ventas['Costo Promedio Ponderado'] * consolidado_cruce_ventas['Venta']
consolidado_cruce_ventas['Forecast en Costo'] = consolidado_cruce_ventas['Costo Promedio Ponderado'] * consolidado_cruce_ventas['fc']
consolidado_cruce_ventas['MAPE Costo']  = abs(consolidado_cruce_ventas['Costo de Venta'] - consolidado_cruce_ventas['Forecast en Costo'])
consolidado_cruce_ventas['ERP Costo'] = consolidado_cruce_ventas.apply(lambda row: row['Forecast en Costo'] - row['Costo de Venta'] if row['Forecast en Costo'] > row['Costo de Venta'] else 0, axis=1)
consolidado_cruce_ventas['ERN Costo'] = consolidado_cruce_ventas.apply(lambda row: row['Costo de Venta'] - row['Forecast en Costo'] if row['Costo de Venta'] > row['Forecast en Costo'] else 0, axis=1)
consolidado_cruce_ventas['WMAPE Costo'] = consolidado_cruce_ventas['MAPE Costo'] / consolidado_cruce_ventas['Costo de Venta']

In [172]:
consolidado_cruce_ventas = consolidado_cruce_ventas[['ID2', 'Periodo', 'UE_2', 'fc', 'fc_anas',
       'Venta', 'Prom.', 'Total instock', 'MAPE_AJUSTADO', 'ERP',
       'ERN', 'MAPE_ANASTASIA', 'ERP_ANASTASIA', 'ERN_ANASTASIA', 'WMAPE',
       'WMAPE.1', 'Mes', 'Costo Promedio Ponderado', 'Costo de Venta', 'Forecast en Costo', 'MAPE Costo',
       'ERP Costo', 'ERN Costo', 'WMAPE Costo', 'Input']]

In [173]:
consolidado_cruce_ventas.to_excel(f'C:/Users/{nombre_usuario}/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Forecast Error (Python)/OEM/Base Forecast Error/Forecast Error OEM {nombre_numero_mes} {año}.xlsx', index=False)

In [174]:
df_ventas_p

        Último Eslabón  Prom.
0       0000000190-OP1    0.0
1           0000000244    0.0
2           0000101800    0.0
3           0000105400    0.0
4           0000132900    0.0
...                ...    ...
126736      2700006420    0.0
126737      2700006423    0.0
126738      2700006425    0.0
126739      2700006426    0.0
126740   Total general    NaN

[126741 rows x 2 columns]

In [175]:
df_n1[df_n1['Canal'].isin(['CL FLOTAS','CL MAYORISTA'])][['Último Eslabón y Material SAP','Canal']].to_excel('export_canales.xlsx')

In [176]:
print(f'Total fc n_1: {df_n1['fc'].sum()}' + '\n' + 
f'Total fc IA n_1: {df_n1['fc_anas'].sum()}' + '\n' + 
f'Total fc n_4: {df_n4['fc'].sum()}' + '\n' + 
f'Total fc IA n_4: {df_n4['fc_anas'].sum()}' + '\n' + 
f'Total Venta: {df_ventas['Venta'].sum()}')

Total fc n_1: 125121.92618920974
Total fc IA n_1: 116968.93287172764
Total fc n_4: 107427.88141769599
Total fc IA n_4: 96298.71104501895
Total Venta: 120191

In [177]:
f'C:/Users/{nombre_usuario}/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Forecast Error (Python)/OEM/Base Forecast Error/Forecast Error OEM {nombre_numero_mes} {año}'

'C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Forecast Error (Python)/OEM/Base Forecast Error/Forecast Error OEM Agosto 2024'

In [178]:
import easygui as eg

In [179]:
eg.msgbox('Base de Forecast Error OEM Construida', 'TAREA FINALIZADA!', 'OK')

'OK'

In [180]:
df_n4['fc_anas'].sum()

96298.71104501895

In [181]:
df_n4['fc'].sum()

107427.88141769599