In [1]:
import pandas as pd

In [11]:
df = pd.read_excel("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Forecast Error (Python)/OEM/Base Forecast Error/Forecast Error OEM Septiembre 2024.xlsx", sheet_name='Sheet1')

In [12]:
df.shape

(209894, 25)

In [3]:
mara = pd.read_csv(f"C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Bases Indicadores en CSV 2024-09/MARA_R3.csv")

C:\Users\lravlic\AppData\Local\Temp\ipykernel_7392\2819891982.py:1: DtypeWarning: Columns (4,11,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  mara = pd.read_csv(f"C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Bases Indicadores en CSV 2024-09/MARA_R3.csv")

In [5]:
consolidado = pd.read_parquet(f"C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Forecast Error (Python)/OEM/Base Forecast Error/consolidado_fc_error.parquet")

In [13]:
df.columns

Index(['ID2', 'Periodo', 'UE_2', 'fc', 'fc_anas', 'Venta', 'Prom.',
       'Total instock', 'MAPE_AJUSTADO', 'ERP', 'ERN', 'MAPE_ANASTASIA',
       'ERP_ANASTASIA', 'ERN_ANASTASIA', 'WMAPE', 'WMAPE.1', 'Mes',
       'Costo Promedio Ponderado', 'Costo de Venta', 'Forecast en Costo',
       'MAPE Costo', 'ERP Costo', 'ERN Costo', 'WMAPE Costo', 'Input'],
      dtype='object')

In [14]:
mara.drop_duplicates(subset='Material_R3', inplace=True)

In [15]:
df_cruce = df.merge(mara[['Material_R3','Sector_dsc']], left_on='UE_2', right_on='Material_R3', how='left')

In [18]:
df_cruce.drop('Material_R3', axis=1, inplace=True)

In [19]:
condicion = df_cruce['Sector_dsc'].isin(['Subaru', 'DFSK', 'GEELY', 'Geely'])

# Reemplazar los valores de 'Total instock' con 5 cuando se cumpla la condición
df_cruce[condicion, 'Total instock'] = 4

Sector_dsc
Suzuki                  42771
Mazda                   34476
Renault                 22723
Great Wall              20681
JAC Cars                18655
Changan                 15432
Samsung                  3438
Implemento Agrícola        27
Accesorios                  7
Lubricantes                 5
Europard                    4
Jacto                       4
Repuesto Alternativo        3
Rep.Alter.Maquinaria        2
Hangcha                     2
Otras Marcas                1
Still                       1
Geely                       1
JAC Truck                   1
Citroen                     1
Kverneland                  1
Name: count, dtype: int64

In [24]:
df_final = pd.concat([consolidado, df_cruce])